*{
    padding: 0;
    margin: 0;
}
.barra_navegacion, .footer{
    background-color: #FEFF4F;

}
/*  SECCION ICONOS*/
.icono-luna, .icono{
    font-size: 5em;
}
.icono{
    color: black;
}
.icono:hover{
    color: white;
}

.logo_combosj{
    border-radius: 1em;
}

img{
    width: 100%;
}